In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader  as fdr

### KODEX200 읽어오기

In [2]:
df = fdr.DataReader("069500")

In [3]:
df.tail()

             Open   High    Low  Close    Volume    Change
Date
2019-03-18  28475  28525  28370  28440  10926530  0.000880
2019-03-19  28470  28495  28315  28410   5572357 -0.001055
2019-03-20  28335  28450  28085  28445  11068231  0.001232
2019-03-21  28500  28885  28500  28640  11828435  0.006855
2019-03-22  28785  28865  28650  28705   3062391  0.002270

In [4]:
df.head()

             Open   High    Low  Close   Volume    Change
Date
2010-01-04  19773  19926  19773  19904   883268  0.006066
2010-01-05  19962  19971  19830  19885  1781284 -0.000955
2010-01-06  19917  20055  19909  20022   962659  0.006890
2010-01-07  20013  20036  19765  19774  1250996 -0.012386
2010-01-08  19857  19865  19605  19850  1428088  0.003843

### csv 파일로 저장하기

In [5]:
df.to_csv("..\\Data\\KODEX200_data.csv",sep=",",encoding="utf-8")

### 마지막 영업일로 월별데이타 만들기

In [6]:
bm = df.resample("BM").last()

In [7]:
bm.tail()

             Open   High    Low  Close   Volume    Change
Date
2018-11-30  27480  27535  27100  27160  5378880 -0.009301
2018-12-31  26535  26700  26535  26580  4337356  0.004156
2019-01-31  29330  29340  29020  29025  7312434 -0.001033
2019-02-28  29255  29300  28805  28805  5775812 -0.016894
2019-03-29  28785  28865  28650  28705  3062391  0.002270

In [8]:
#bm.to_csv("..\\Data\\KODEX200_monthly_data.csv", sep=",",encoding="utf-8")